<?xml version="1.0" encoding="UTF-8"?>

<included>
    <property name="CONSOLE_LOG_PATTERN" value="%clr([%date{yyyy-MM-dd HH:mm:ss.SSS}]){faint} %clr([%X{requestId}]){faint} %clr([%-5level]) %clr(%logger{0}){cyan} : %X{id} %msg %ex %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE" />
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>
</included>